body{
		height: 600px;
		border: 5px solid #000;
    width: 550px;
  margin: auto;
  background-color: gray;
  color: white;
text-align: center;
  margin-top: 50px;
}
h1{
  text-align: center;
  font size: 5px;
}
form{
  margin-top: 50px;
  font-size: 25px;
}
input{
border: 3px solid #000;
  width: 350px;
  height: 30px;
   border-radius: 25px;
  margin-top: 25px;
}

