body{
		height: 400px;
		border: 5px solid #000;
    width: 1000px;
  margin: auto;
  background-color: gray;
  color: white;
text-align: center;
  margin-top: 50px;
}
h1{
  text-align: center;
  font size: 5px;
}
form{
  margin-top: 50px;
  font-size: 25px;
}
input{
border: 3px solid #000;
  width: 350px;
  height: 30px;
   border-radius: 25px;
  margin-top: 25px;
}
.left{
		margin:30px;
		float: left;
		width:42%;
		text-align:center;
   font-family: times new roman;
    border: 2px solid black;
  margin-top: 30px;
  height: 250px;
	  }
.right{
		margin:30px;
		float: right;
		width:42%;
		text-align:center;
   font-family: times new roman;
    border: 2px solid black;
  margin-top: 30px;
  height: 250px;
  line-height: 50px;
	  }
